html {
    background-color: rgb(248, 187, 117);
    font-family: "Futura", "Helvetica", sans-serif;
    color:rgb(132, 29, 29);
    font-weight: 100;
}

h1 {
    font-size: 8vw;
    text-align: center;
    text-decoration: underline;
}

a {
    color:rgb(38, 122, 197);
}

.titulo {
    font-size: 70px;
    text-align: left;
    text-decoration: none;
}

img {
    border-radius: 20px;
}

.platillo h2 {
    font-weight: 900;
    font-style: oblique;
}