html {
    background-color: rgb(248, 187, 117);
    font-family: "Futura", "Helvetica", sans-serif;
    color:rgb(132, 29, 29);
    font-weight: 100;
}

h1 {
    font-size: 8vw;
    text-align: center;
    text-decoration: underline;
}

a {
    color:rgb(38, 122, 197);
}

.titulo {
    font-size: 70px;
    color:rgb(70, 114, 179);
    text-align: left;
    text-decoration: none;
}

#recipe-list {
    list-style: none;
}

.recipe-link {
    font-style: italic;
    display: block;
    font-size: 20px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    background-color: rgb(109, 121, 167);
    color:aliceblue;
    border:4px solid white;
    margin: 10px;
    padding: 5px
}

img {
    border-radius: 20px;
}

.platillo h2 {
    color: rgb(70, 114, 179);
    font-weight: 900;
    font-style: oblique;
}